* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.navigation {
  padding: 25px 100px;
  background-color: #F9F9F9;
}

/* cta section */

#main-body {
  background-image: url(images/bg1.png);
	height: 800px;
	text-align: center;
}

#main-body h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 120px;
  line-height: 47px;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 225px;
  text-align: center;
}

#main-body p {
  font-weight: bold;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

#main-body hr {
  border-color: #15a4fa;
  margin: 0 auto;
  width: 50%;
}

#main-body button {
  background-color: transparent;
  border-top: 1px solid #15a4fa;
  border-left: 1px solid #15a4fa;
  border-bottom: transparent;
  border-right: transparent;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}

#main-body a {
  color: white;
  display: inline-block;
  margin-top: 100px;
}

/*info section*/

#info {
  background-color: #F9F9F9;
  padding: 50px;
  text-align: center;
}

#info h1 {
  color: #2d3950;
  font-size: 40px;
  font-weight: 400;
}

#info p {
  color: #999999;
  font-weight: 400;
  line-height: 32px;
  margin: 0 auto;
  width: 74%;
}

.fa-mobile {
	font-size: 55px;
}

.fa-paper-plane-o {
	padding-top: 30px;
}

.fa-bullhorn {
	font-size: 50px;
}


/*features section*/

#features {
  text-align: center;

}

#features .box {
  display: inline-block;
  font-weight: 400;
  margin: 5% 1%;
  padding: 10px;
  width: 21%;
}

#features .iconBox {
  background: linear-gradient(to right,  #1e5799 0%, #207cca 50%, #2989d8 50%, #7db9e8 100%);
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

#features i {
  color: white;
  display: inline-block;
  font-size: 40px;
  padding-top: 30px;
  width: 100%;
}

#features h3 {
  font-size: 22px;
  margin-bottom: 3%;
  color: #2d3950;
}

#features p {
  color: #999999;
}

.fa-mobile {
	font-size: 55px;
}

.fa-paper-plane-o {
	padding-top: 30px;
}

.fa-bullhorn {
	font-size: 50px;
}



/*showcase section*/
.centerRow {
  width: 100%;
  margin: 0 auto;
}
#showcase {
  background-color: #F6F9F9;
  margin: 0 auto;
  width: 100%;
}

#showcase h3 {
  color: #2d3950;
  font-size: 40px;
  text-align: center;
  padding: 50px;
}

#showcase p {
  text-align: center;
  color: #999999;
}

#showcase .row {
  display: inline-block;
  font-weight: 400;
  padding: 0;
  width: 31%;
  margin: 2% 1% 0;
}

#showcase img {
  height: 100%;
  width: 100%;
}

/*contact section*/

#contact {
  background-image: url(images/bg2.png);
  background-position: 50%;
  height: 500px;
  padding: 100px;
  text-align: center;
  margin-top: 40px;
}

#contact h3 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

#contact p {
  color: #999999;
  font-size: 15px;
  line-height: 23px;
}

form > input,
form > textarea {
  background-color: transparent;
  border: 1px white solid;
  border-radius: 2px;
  display: block;
  color: white;
  padding: 10px;
  margin: 10px auto;
  width: 30%;
  font-size: 16px;
}

form span {
  color: white;
  font-size: 16px;
}

form button {
  border: 1px solid #15a4fa;
  background-color: transparent;
  color: white;
  line-height: 10px;
  margin: 20px 0 0 50px;
  padding: 10px 25px;
}

/*footer section*/

.footer {
  background-color: #F6F9F9;
  padding: 10px
}

.footer p {
  margin-left: 70px;
}

#socialMedia {
  float: right;
  margin: 20px 70px 0 0;
}

#socialMedia a {
  border-radius: 2px;
  background-color: #15a4fa;
  color: white;
  padding: 7px;
  text-decoration: none;
  margin: 5px;
}

#socialMedia:first-child {
  padding: 7px 9px;
}
